html, body {
    height: 100vh;
}

body {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-green {
    color: rgb(22, 198, 12);
    /*color: rgb(19, 161, 14);*/
}

h4 {
    color: rgb(22, 198, 12);
}

.font-text-me-one {
    font-family: 'Text Me One', sans-serif;
}

.bg-opaque {
    background-color:rgba(204, 204, 204, 0.5);
}

.bg-opaque-dark {
    background: rgba(41, 41, 41, 0.9);
}

.neon {
    color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
                 0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
                 0 0 40px #A5F1FF;
}

.h-85 {
    height: 85%;
}

.h-15 {
    height: 15%;
}